{% extends "base.html" %}
{% block title %} Editer un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer un GENRE
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_update.nom_allergie_wtf.label }}<br>
						{{ form_update.nom_allergie_wtf(size=32) }}<br>
						{% for error in form_update.nom_allergie_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                    </p>
                    <p>
                        {{ form_update.allergene_wtf.label }}<br>
						{{ form_update.allergene_wtf(size=32) }}<br>
						{% for error in form_update.allergene_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                     </p>
                    <p>
                        {{ form_update.gravite_wtf.label }}<br>
						{{ form_update.gravite_wtf(size=32) }}<br>
						{% for error in form_update.gravite_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        {{ form_update.symptomes_wtf.label }}<br>
						{{ form_update.symptomes_wtf(size=32) }}<br>
						{% for error in form_update.symptomes_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        {{ form_update.precautions_wtf.label }}<br>
						{{ form_update.precautions_wtf(size=32) }}<br>
						{% for error in form_update.precautions_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        {{ form_update.traitement_wtf.label }}<br>
						{{ form_update.traitement_wtf(size=32) }}<br>
						{% for error in form_update.traitement_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
                    <p>
                        {{ form_update.notes_wtf.label }}<br>
						{{ form_update.notes_wtf(size=32) }}<br>
						{% for error in form_update.notes_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

