{% extends "base.html" %}
{% block title %} Landing page Module 164 {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Projet Cyril Perrinjaquet Module 164
			</h3>
			<h3>
				CRUD sur 3 tables<br>
			</h3>
			<p>Bienvenue sur mon projet pour le module 164, j'espère que la visite vous plaira.</p>
            <p>Vous pouvez sans autre aller chercher un café et explorer tranquillement le projet.</p>
		</div>
	</div>
</div>
{% endblock %}
