{% extends "base.html" %}
{% block title %} Afficher Ingrédient(s) {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Ingrédient(s)
                </p>
                <div><a class="btn btn-primary" href="{{ url_for('ingre_ajouter_wtf') }}"
                        role="button">Ajouter</a></div>
                <table class="table table-bordered table-sm">
                    {% if data.data_ingredients != () %}
                        <!-- Faire un forEach sur row.keys() et remplire avec les noms de colonnes -->
                        <thead>
                        <tr>
                            <th class="align-middle">
                                Id
                            </th>
                            <th class="align-middle">
                                Nom
                            </th>
                            <th class="align-middle">
                                Modifier
                            </th>
                            <th class="align-middle">
                                Supprimer
                            </th>
                        </tr>
                        </thead>
                        {% for row in data.data_ingredients %}
                            <tbody>
                            <tr>
                                <td class="align-middle">
                                    {{ row.id_ingre }}
                                </td>
                                <td class="align-middle">
                                    {{ row.nom_ingre }}
                                </td>
                                <td class="text-center" class="align-middle">
                                    <a class="btn btn-warning"
                                       href="{{ url_for('ingre_update_wtf', id_ingre_btn_edit_html=row.id_ingre) }}"
                                       role="button">Modifier</a>
                                </td>
                                <td class="text-center" class="align-middle">
                                    <a class="btn btn-danger"
                                       href="{{ url_for('ingre_delete_wtf', id_ingre_btn_delete_html=row.id_ingre) }}"
                                       role="button">Supprimer</a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                        </table>
                    {% else %}
                        <p>Aucun Ingrédient.</p>
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

