{% extends "base.html" %}
{% block title %} Effacer une allergie (WTF) {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Effacer une allergie
                </p>
                <form action="" method="POST" novalidate>
                    <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                    {{ form_delete.hidden_tag() }}
                    {% if submit_btn_conf_del %}
                        {{ form_delete.submit_btn_conf_del(class="btn btn-info") }}
                    {% endif %}
                    {% if btn_submit_del %}
                        {{ form_delete.submit_btn_del(class="btn btn-danger") }}
                    {% endif %}

                    {{ form_delete.submit_btn_annuler(class="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

